body {
    margin: 0;
}
.footer {
  background: #1b2552;
  display: flex;
  width: auto;
  padding: 3rem 112px;
  flex-direction: column;
  align-items: center;
  font-family: inter;
  color: ;
}

.logo-footer {
    width: 60%;
    height: auto;
}
